<br>
<cash-new></cash-new>
<br>
<br>
<h5>CASH ADVANCE LIST</h5>
<br>
<
  <div class="col-md-6" class="mat-elevation-z8">
    <table class="table table-striped" class="table table-bordered" class="table-dark">
    <thead>
    <tr>
      <th>DATE</th>
      <th>EMPLOYEE ID</th>
      <th>EMPLOYEE NAME</th>
      <th>AMOUNT</th>
      <th class="center" colspan="4" scope="colgroup">TOOLS</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of Employees">
            <td>{{employee.date}}</td>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.amt}}</td>
            <td><button class="btn btn-danger" (click)="deleteEmployee(employee)">
              <mat-icon>
                delete_outline
              </mat-icon>
              DELETE
            </button>
            <td><button class="btn btn-warning" (click)="createEmployee(employee)">
              <mat-icon>
                update
              </mat-icon>UPDATE</button>
              </td>     
            </tr>
    </tbody>
      </table>
    </div>
  